
body {
background-color: /*BurlyWood*/ #F0F8FF;
color: indigo; 
/*font-family: arial, helvetica, sans-serif;*/

font-family: "Times New Roman", Times, serif;
}

.center{display:block;
margin-left:auto;
margin:auto;}

ol {list-style-type: lower-alpha; font-size:25px;
padding: 5em;
text-align:center;
}
